.alllist{
    font-family: Helvetica,sans-serif;
    border:5px dotted white;
    width:fit-content;
    margin-left: 10px;
}
.allps{
    font-family:'Times New Roman',Georgia,Garamond;
    font-size: 20px;
    font-weight: 500;
    margin:20px 50px;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    font-size: 70px;
    border:5px solid white;
    margin: 20px auto;
    width:fit-content;
    padding:5px 10px;
}
#links{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}
*{
    color:white
}
.red,.yellow,.brown{
    font-size: 20px;
}
.brown button{
    color:rgb(255, 255, 255);
    border:3px solid;
    background-color: rgba(106, 54, 5, 0.74);
}
.yellow button{
    color:rgb(255, 255, 255);
    background-color:rgb(241, 241, 59);
    border:3px solid;

}
.red button{
    color:rgb(255, 255, 255);
    background-color: rgb(234, 0, 0);
    border:3px solid;
}
.brbut:hover{
    background-color: rgba(146, 84, 27, 0.74)
}
.yebut:hover{
    background-color: rgb(246, 246, 104);
}
.rebut:hover{
    background-color: rgb(243, 54, 54);
}


.summary{
    text-align: center;
    font-size: 25px;
}
body{
    margin: 100px;
    border:10px solid rgb(255, 255, 255);
}
.buttons{
    display:flex;
    justify-content: space-around;
}
button{
    padding:20px;
    border-radius: 1rem;
    font-size: 18px;
   
    
}
h2{
    border:3px solid white;
    width:fit-content;
    margin: 20px auto;
    padding:5px 10px;
}
h3{
    border:3px solid white;
    width:fit-content;
    margin-left:15px

}
